{% extends 'layouts/form.j2' %}

{% block header %}
	<h2>Update {{ user.sname }} profile</h2>
	<p>Show us your best self</p>
{% endblock %}

{% block form %}
<h2>{{ user.sname }}</h2>
<form method="post" action="#">
    {{ form.hidden_tag() }}
	<div class="row uniform 50%">
		<div class="12u">
			{{ form.email(placeholder='Your email') }}
            {{ form.phone(placeholder='Your phone') }}
            {{ form.GPA(placeholder='Your GPA') }}
            {{ form.university(placeholder='Your university') }}
            {{ form.qualifications(placeholder='Your qualifications') }}
            {{ form.privacysetting(placeholder='Public or Friendly Public') }}
		</div>
	</div>
	<div class="row uniform">
		<div class="12u">
			<ul class="actions align-center">
				{{ form.submit() }}
			</ul>
		</div>
	</div>
</form>

{% endblock %}

