{% extends 'layouts/form.j2' %}

{% block header %}
	<h2>Update {{ user.sname }} profile</h2>
	<p>Show us your best self</p>
{% endblock %}

{% block form %}
<h2>{{ user.sname }}</h2>
<form method="post" action="#">
    {{ form.hidden_tag() }}
	<div class="row uniform 50%">
		<div class="12u">
			<p>Email:</p>{{ form.email(placeholder=user.email) }}
            <p>Phone:</p>{{ form.phone(placeholder=user.phone) }}
            <p>Major:</p>{{ form.major(placeholder=user.major) }}
            <p>GPA:</p>{{ form.GPA(placeholder=user.GPA) }}
            <p>University:</p>{{ form.university(placeholder=user.university) }}
            <p>qualifications:</p>{{ form.qualifications(placeholder=user.qualifications) }}
            <p>Interests:</p>{{ form.interest(placeholder=user.interests) }}
            <p>Resume:</p>{{ form.resume(placeholder='ur resume') }}
            <p>Privacy Setting:</p>{{ form.privacysetting(placeholder='Public or Friendly Public') }}
		</div>
	</div>
	<div class="row uniform">
		<div class="12u">
			<ul class="actions align-center">
				{{ form.submit() }}
			</ul>
		</div>
	</div>
</form>

{% endblock %}

