{% extends 'layouts/form.j2' %}

{% block header %}
	<h2>Update {{ user.cname }} profile</h2>
	<p>Show us that ambition :D</p>
{% endblock %}

{% block form %}
<h2>{{ user.cname }}</h2>
<form method="post" action="#">
    {{ form.hidden_tag() }}
	<div class="row uniform 50%">
		<div class="12u">
			{{ form.location(placeholder='Your location') }}
            {{ form.industry(placeholder='Your industry') }}


		</div>
	</div>
	<div class="row uniform">
		<div class="12u">
			<ul class="actions align-center">
				{{ form.submit() }}
			</ul>
		</div>
	</div>
</form>

{% endblock %}

