{% extends 'layouts/base.j2' %}

{# removes banner #}
{% block banner %}{% endblock %}



{% block content %}

<h2>{{ company.cname}} <small>({{company.industry}})</small></h2>
<p>{{ company.location }}</p>

<ul class="actions">
	{% block actions %}

	
	{% if current_user.username == company.cname %}
		<li><a class='button' href="{{ url_for('post_job', user=company.cid) }}">Post New Job</a></li>
	{% else %}
		<li><a class='button action follow-com' href="{{ url_for('follow', user=company.cid) }}" data-success='Followed!'>Follow</a></li>
	{% endif %}
	{% endblock %}
</ul>


{% block followers %}
<section class='box'>
	<h3>Followers</h3>
	<ul>
	{% for follower in followers %}
		<li><a href="{{ url_for('student_profile', user=follower.uid) }}">{{ follower.name }}</a> - {{ follower.school }}</li>
	{% endfor %}
	</ul>
</section>
{% endblock %}

{% block jobs %}
<section class='box'>
	<h3>Jobs</h3>
	<ul>
	{% for job in jobs %}  {# cname or name ? #}
		<li>{{ job.aid }} {{ job.title }} - {{ job.cname }} {{ job.name }} <a href="{{ url_for('job', aid=job.aid) }}">Details</a></li>
	{% endfor %}
	</ul>
</section>
{% endblock %}

{% endblock %}