{% extends 'layouts/base.j2' %}

{% block body_class %}landing{% endblock %}

{% block content %}
<section class="box special">
	<header class="major">
		<h2>Jobster
		<br />
		Find your position</h2>
		<p>Build network - let company konw you - chat with friends.</p>
	</header>
	<span class="image featured"><img src="" alt="" /></span>
</section>
{% endblock %}