{% extends 'layouts/base.j2' %}


{# removes banner #}
{% block banner %}{% endblock %}


{% block content %}

<section class='box'>
	<h2>Search Jobster</h2>
	<form action="{{ url_for('search') }}">
		{{ search_form.query(placeholder='Search (The Job you want / The people you look for)') }}
		{{ search_form.hidden_tag() }}
	</form>
</section>

{% if students|length or companies|length %}
	
	{% if students|length %}
	<section class='box'>
		<h2>Students</h2>
		<ul class='alt'>
		{% for result in students %}
			<li><a href="{{ url_for('student', user=result.loginname) }}">{{ result.sname }}</a> - {{ result.university }}</li>
		{% endfor %}
		</ul>
	</section>
	{% endif %}

	{% if companies|length %}
	<section class='box'>
		<h2>Companies</h2>
		<ul class='alt'>
		{% for result in companies %}
			<li>
				<a href="{{ url_for('job', aid=result.aid) }}">{{ result.title }}</a> - <a href="{{ url_for('company', user=result.cname) }}">{{ result.cname }}</a> {{ result.location }} <br />
				{{ result.description }}
			</li>
		{% endfor %}
		</ul>
	</section>
	{% endif %}

{% elif search_form.query.data %}
	<section class='box'>
		<h2>No results for "{{ search_form.query.data or '' }}".</h2>
	</section>
{% endif %}
{% endblock %}