{% extends 'layouts/base.j2' %}

{# removes banner #}
{% block banner %}{% endblock %}

{% block content %}

<h2>{{ user.sname }}</h2>
<p>{{ user.university }} - GPA: {{ user.GPA }}</p>

<ul class='actions'>
	{% block actions %}
	{% if user.resume %}
		<li><a title="Download Resume" class='button special' download="resume.pdf" href="data:application/pdf;base64,{{ user.Resume }}">Download Resume</a></li>
	{% endif %}

	{% if current_user.username == user.loginname %}
		<li><a class='button edit-profile' href="{{ url_for('student_edit', user=user.loginname) }}">Edit Profile</a></li>
	{% elif current_user.type == 'student' %}
		<li><a class='button action friend-request' href="{{ url_for('friend_request', user=user.loginname) }}" 
				data-success="Request Sent!">Friend Request</a></li>
	{% endif %}
	{% endblock %}
</ul>

{% block friends %}
<section class='box'>
	<h3>Friends</h3>
	<ul class='alt'>
	{% for friend in friends %}
		<li><a href="{{ url_for('student', user=friend.loginname) }}">{{ friend.sname }}</a> - {{ friend.school }}</li>
	{% else %}
		<li>No Friends (~_~)</li>
	{% endfor %}
	</ul>
</section>
{% endblock %}

{% block following %}
<section class='box'>
	<h3>Following</h3>
	<ul class='alt'>
	{% for com in following %}
		<li><a href="{{ url_for('company', user=com.cname) }}">{{ com.cname }}</a> - {{ com.industry }}</li>
	{% else %}
		<li>I follow no one. (._.)</li>
	{% endfor %}
	</ul>
</section>
{% endblock %}

{% endblock %}