{% extends 'layouts/base.j2' %}

{# removes banner #}
{% block banner %}{% endblock %}

{% block content %}

<h2>{{ user.sname }}</h2>
<p>{{ user.university }} - GPA: {{ user.GPA }}</p>

<ul class='actions'>
	{% block actions %}
	{% if user.resume %}
		<li><a title="Download Resume" class='button special' download="resume.pdf" href="data:application/pdf;base64,{{ user.Resume }}">Download Resume</a></li>
	{% endif %}

	{% if current_user.username == user.loginname %}
		<li><a class='button edit-profile' href="{{ url_for('student_edit', user=user.loginname) }}">Edit Profile</a></li>
	{% elif current_user.type == 'student' %}
		<li><a class='button action friend-request' href="{{ url_for('friend_request', user=user.loginname) }}" 
				data-success="Request Sent!">Friend Request</a></li>
	{% endif %}
	{% endblock %}
</ul>

{% block friends %}
<section class='box'>
	<h3>Friends</h3>
	<ul class='alt'>
	{% for friend in friends %}
		<li><a href="{{ url_for('student', user=friend.loginname) }}">{{ friend.sname }}</a> - {{ friend.school }}</li>
	{% else %}
		<li>No Friends (~_~)</li>
	{% endfor %}
	</ul>
</section>
{% endblock %}

{% block following %}
<section class='box'>
	<h3>Following</h3>
	<ul class='alt'>
	{% for com in following %}
		<li><a href="{{ url_for('company', user=com.cname) }}">{{ com.cname }}</a> - {{ com.industry }}</li>
	{% else %}
		<li>I follow no one. (._.)</li>
	{% endfor %}
	</ul>
</section>
{% endblock %}


{% block messages %}

{% if current_user.id != user.sid and current_user.type == 'student' %}
	<section class='box messages' data-get-messages="{{ url_for('get_messages', sid=user.sid) }}">
		<h3>Messages <span class='refresh'>refresh</span></h3>
		<div class='double-wrap'>
		<div class='message-wrap'>
		{% for msg in messages %}
			{% if msg.mtext %}
			<div class="message-cell {{ 'me' if current_user.id == msg.sid1 else 'you' }}">
				<span class="message {{ 'unread' if msg.mstatus and current_user.id == msg.sid1 }}" 
						title="{{ msg.mdate }}" data-timestamp="{{ msg.mdate }}"
						data-mark-read="{{ url_for('read_message', sid=user.sid, date=msg.mdate) }}">
					{{ msg.mtext }}
				</span>
			</div>
			{% endif %}
		{% endfor %}
		</div>
		</div>
		<input type='text' class='new-message' name='messages' placeholder="message..."
				data-send-url="{{ url_for('send_message', sid=user.sid) }}" />
	</section>
{% endif %}

{% endblock %}


{% endblock %}